nav {
  background-color:rgb(15, 15, 36); 
  z-index: 1; 
  border-bottom:rgb(0, 255, 225) solid 4px;
}

nav ul {
  padding: 0;
}

.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

a:hover {
  color: rgb(255, 0, 136);
  transition: .635s;
}

span a:hover {
  color: #003073;
}

a {
  text-decoration: none;
  color: white;
  line-height: 140%;
  letter-spacing: 3px;
}

nav ul li {
  list-style: none;
}

nav a {
  font-size: 1.5vw;
}


span a {
  color: rgb(255, 0, 136);
}